<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>http://149.154.65.80/bigcom.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>url</key>
<string>
https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/82/62/c5/8262c5e3-5a7c-28c0-7a32-3547fb9a94f7/source/256x256bb.jpg
</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>url</key>
<string>
https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/82/62/c5/8262c5e3-5a7c-28c0-7a32-3547fb9a94f7/source/256x256bb.jpg
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>rus.app.bigcom</string>
<key>bundle-version</key>
<string>1.0.95</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>BigCom</string>
</dict>
</dict>
</array>
</dict>
</plist>
